.DS_Store
.vscode/
klyro.code-workspace
*.pyc
.klyro*
*.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
klyro/_version.py
.venv/
.#*
.gitattributes
tmp.benchmarks/
.docker_bash_history