# This needs to sync with klyro/help_pats.py

global-exclude .DS_Store

recursive-exclude klyro/website/examples *
recursive-exclude klyro/website/_posts *

exclude klyro/website/HISTORY.md
exclude klyro/website/docs/benchmarks*.md
exclude klyro/website/docs/ctags.md
exclude klyro/website/docs/unified-diffs.md

exclude klyro/website/install.ps1
exclude klyro/website/install.sh

recursive-exclude klyro/website/docs/leaderboards *
recursive-exclude klyro/website/assets *
recursive-exclude klyro/website *.js
recursive-exclude klyro/website *.html
recursive-exclude klyro/website *.yml
